body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--background-color);
  /* background-color: hsl(0, 0%, 98%); */
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

:root {
  --background-color-light: hsl(0, 0%, 98%);
  --background-color-dark: hsl(207, 26%, 17%);
  --text-color-light: hsl(200, 15%, 8%);
  --text-color-dark: hsl(0, 0%, 100%);
  --element-color-light: hsl(0, 0%, 100%);
  --element-color-dark: hsl(209, 23%, 22%);
  --input-color: hsl(0, 0%, 52%);
}

.light-theme {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --element-color: var(--element-color-light);
}

.dark-theme {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --element-color: var(--element-color-dark);
}

.App {
  min-height: 100vh;
}

.App.light-mode {
  background-color: hsl(0, 0%, 98%);
}

.App.dark-mode {
  background-color: hsl(207, 26%, 17%);
}